@function calculateSpacing($i) {
  @return calc(var(--spacer) * $i);
}

$single-direction-spacing: (
  '0': 0,
  '4': calculateSpacing(2),
  '8': calculateSpacing(4),
  '12': calculateSpacing(6),
  '16': calculateSpacing(8),
  '24': calculateSpacing(12),
  '32': calculateSpacing(16),
  '40': calculateSpacing(20),
  '48': calculateSpacing(24)
);

$horizontal-spacing: (
  '0': 0,
  '4': 0 calculateSpacing(2),
  '8': 0 calculateSpacing(4),
  '12': 0 calculateSpacing(6),
  '16': 0 calculateSpacing(8),
  '24': 0 calculateSpacing(12),
  '32': 0 calculateSpacing(16),
  '40': 0 calculateSpacing(20),
  '48': 0 calculateSpacing(24)
);

$vertical-spacing: (
  '0': 0,
  '4': calculateSpacing(2) 0,
  '8': calculateSpacing(4) 0,
  '12': calculateSpacing(6) 0,
  '16': calculateSpacing(8) 0,
  '24': calculateSpacing(12) 0,
  '32': calculateSpacing(16) 0,
  '40': calculateSpacing(20) 0,
  '48': calculateSpacing(24) 0
);

$order: (
  '1': 1,
  '2': 2,
  '3': 3,
  '4': 4,
  '5': 5,
  '6': 6,
  '7': 7,
  '8': 8,
  '9': 9,
  '10': 10,
  '11': 11,
  '12': 12
);

/* generate utility classes */
$utilities: (
  'font size': (
    'prefix': 'font',
    'property': 'font-size',
    'values': (
      'xs': var(--base-font-size),
      'sm': var(--font-size-sm),
      'md': var(--font-size-md),
      'lg': var(--font-size-lg),
      'xl': var(--font-size-xl),
      'xxl': var(--font-size-xxl)
    )
  ),
  'padding': (
    'prefix': 'p',
    'property': 'padding',
    'values': $single-direction-spacing
  ),
  'padding horizontal only': (
    'prefix': 'px',
    'property': 'padding',
    'values': $horizontal-spacing
  ),
  'padding vertical only': (
    'prefix': 'py',
    'property': 'padding',
    'values': $vertical-spacing
  ),
  'padding left': (
    'prefix': 'pl',
    'property': 'padding-left',
    'values': $single-direction-spacing
  ),
  'padding right': (
    'prefix': 'pr',
    'property': 'padding-right',
    'values': $single-direction-spacing
  ),
  'padding top': (
    'prefix': 'pt',
    'property': 'padding-top',
    'values': $single-direction-spacing
  ),
  'padding bottom': (
    'prefix': 'pb',
    'property': 'padding-bottom',
    'values': $single-direction-spacing
  ),
  'margin': (
    'prefix': 'm',
    'property': 'margin',
    'values': $single-direction-spacing
  ),
  'margin horizontal only': (
    'prefix': 'mx',
    'property': 'margin',
    'values': $horizontal-spacing
  ),
  'margin vertical only': (
    'prefix': 'my',
    'property': 'margin',
    'values': $vertical-spacing
  ),
  'margin left': (
    'prefix': 'ml',
    'property': 'margin-left',
    'values': $single-direction-spacing
  ),
  'margin right': (
    'prefix': 'mr',
    'property': 'margin-right',
    'values': $single-direction-spacing
  ),
  'margin top': (
    'prefix': 'mt',
    'property': 'margin-top',
    'values': $single-direction-spacing
  ),
  'margin bottom': (
    'prefix': 'mb',
    'property': 'margin-bottom',
    'values': $single-direction-spacing
  ),
  'margin auto': (
    'prefix': 'm',
    'property': 'margin',
    'values': (
      'auto': 0 auto
    )
  ),
  'display': (
    'prefix': 'd',
    'property': 'display',
    'values': (
      'none': none,
      'block': block,
      'flex': flex,
      'inline-flex': inline-flex,
      'inline': inline,
      'inline-block': inline-block,
      'grid': grid,
      'table': table
    )
  ),
  'flex direction': (
    'prefix': 'flex',
    'property': 'flex-direction',
    'values': (
      'row': row,
      'column': column,
      'row-reverse': row-reverse,
      'column-reverse': column-reverse
    )
  ),
  'justify content': (
    'prefix': 'justify-content',
    'property': 'justify-content',
    'values': (
      'start': start,
      'end': end,
      'center': center,
      'between': space-between,
      'around': space-around,
      'evenly': space-evenly
    )
  ),
  'align items': (
    'prefix': 'align-items',
    'property': 'align-items',
    'values': (
      'start': start,
      'end': end,
      'center': center,
      'baseline': baseline,
      'stretch': stretch
    )
  ),
  'align self': (
    'prefix': 'align-self',
    'property': 'align-self',
    'values': (
      'start': start,
      'end': end,
      'center': center,
      'baseline': baseline,
      'stretch': stretch
    )
  ),
  'flex wrap': (
    'prefix': 'flex-wrap',
    'property': 'flex-wrap',
    'values': (
      'nowrap': nowrap,
      'wrap': wrap,
      'wrap-reverse': wrap-reverse
    )
  ),
  'order': (
    'prefix': 'order',
    'property': 'order',
    'values': $order
  ),
  'align content': (
    'prefix': 'align-content',
    'property': 'align-content',
    'values': (
      'start': start,
      'end': end,
      'center': center,
      'baseline': baseline,
      'stretch': stretch
    )
  )
);

@each $property, $map in $utilities {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');
  $rule: map-get($map, 'property');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .#{$prefix} {
        #{$rule}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$rule}: $v;
      }
    }
  }
}
