@import './variables';
@import './resets';
@import './base';
@import './utilities';
@import './breakpoints';
@import './grid';

// just for now start
.min-h-200 {
  min-height: 200px;
}

.colors-1,
.colors-2,
.colors-3,
.colors-4,
.colors-5,
.colors-6,
.colors-7,
.colors-8,
.colors-9 {
  width: 90px;
  min-width: 90px;
  height: 90px;
}
.colors-1 {
  background-color: var(--indigo-100);
}
.colors-2 {
  background-color: var(--indigo-200);
}
.colors-3 {
  background-color: var(--indigo-300);
}
.colors-4 {
  background-color: var(--indigo-500);
  color: var(--gray-200);
}
.colors-5 {
  background-color: var(--indigo-800);
  color: var(--gray-200);
}
.colors-6 {
  background-color: var(--gray-200);
}
.colors-7 {
  background-color: var(--gray-400);
}
.colors-8 {
  background-color: var(--gray-600);
  color: var(--gray-200);
}
.colors-9 {
  background-color: var(--gray-800);
  color: var(--gray-200);
}

.indigo-100 {
  background-color: var(--indigo-100);
}

.col-item {
  background-color: var(--indigo-200);
  color: var(--indigo-800);
  width: 100%;
  border: 1px solid var(--indigo-300);
  border-radius: 5px;
}

// just for now end
