@function calculateSpacing($val) {
  @return calc(var(--spacer) * $val);
}

$spacers: (
  0: 0,
  4: calculateSpacing(2),
  8: calculateSpacing(4),
  12: calculateSpacing(6),
  16: calculateSpacing(8),
  24: calculateSpacing(12),
  32: calculateSpacing(16),
  40: calculateSpacing(20),
  48: calculateSpacing(24)
);

$padding-map: (
  prefix: p,
  property: padding,
  active: true,
  values: $spacers
);

$padding-x-map: (
  prefix: px,
  property: (
    padding-left,
    padding-right
  ),
  active: true,
  values: $spacers
);

$padding-y-map: (
  prefix: py,
  property: (
    padding-top,
    padding-bottom
  ),
  active: true,
  values: $spacers
);

$padding-left-map: (
  prefix: pl,
  property: padding-left,
  active: true,
  values: $spacers
);

$padding-right-map: (
  prefix: pr,
  property: padding-right,
  active: true,
  values: $spacers
);

$padding-top-map: (
  prefix: pt,
  property: padding-top,
  active: true,
  values: $spacers
);

$padding-bottom-map: (
  prefix: pb,
  property: padding-bottom,
  active: true,
  values: $spacers
);

$margin-map: (
  prefix: m,
  property: margin,
  active: true,
  values:
    map-merge(
      $spacers,
      (
        auto: 0 auto
      )
    )
);

$margin-x-map: (
  prefix: mx,
  property: (
    margin-left,
    margin-right
  ),
  active: true,
  values: $spacers
);

$margin-y-map: (
  prefix: my,
  property: (
    margin-top,
    margin-bottom
  ),
  active: true,
  values: $spacers
);

$margin-left-map: (
  prefix: ml,
  property: margin-left,
  active: true,
  values: $spacers
);

$margin-right-map: (
  prefix: mr,
  property: margin-right,
  active: true,
  values: $spacers
);

$margin-top-map: (
  prefix: mt,
  property: margin-top,
  active: true,
  values: $spacers
);

$margin-bottom-map: (
  prefix: mb,
  property: margin-bottom,
  active: true,
  values: $spacers
);
